/* ColorThemeChangeButton */

.change-button-container {
    width: 43px;
    display: flex;
    align-items: center;
    padding: 2px;
    border-radius: 100vh;
    cursor: pointer;
}

.change-button {
    width: 20px;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 13px;
    background-color: #fff;
}
