---
import Layout from '../layouts/Layout.astro';
import ColorThemeProvider from '../middlewares/ColorThemeProvider';
import Header from '../components/Header/Header';
---

<Layout title='HASUROã®blog'>
    <ColorThemeProvider client:load>
        <Header client:load />
        <div class='all-container'>
        </div>
    </ColorThemeProvider>
</Layout>

<style>
    .all-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 0 20px;
        @media screen and (min-width: 1200px) {
            width: 1200px;
        }
    }
</style>
